p {
    color: blue;
}
h1 {
color: red;
}
h1.a {
    color: red; text-align: center; text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px darkblue;
    }
h2 {
color: red; text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px darkblue;
}
body {
    font-family: "Bai Jamjuree";
    background-color:rgb(173, 173, 165);
}
ul {
    list-style: square inside;
  }
li {
    color: navy;
}
.a {
    background-color: 
    chartreuse;
    height: 400px;
    width: 100%; 
    border: none; 
    padding: 30px;
}
.a {
    background-color: 
    chartreuse;
    border: none; 
    padding: 30px;
}
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
    background-color: green;
    color: white;
  }