p {
    color: blue;
}
.p1 {
  color: blue; 
  text-align: center; 
  }
.p2 {
  text-align:center; 
    text-indent: 0pt;
    text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 15px black;
    font-size: 80px;
}
.p3 {
  color: black;
  text-align:center; 
    text-indent: 0pt;
    text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 30px;
}
h1 {
    color: red; 
    text-align:center; 
    padding: 100px 250px 100px 25px; 
    text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 80px;
    }
h2 {
color: red;
text-align:center;  
text-shadow: 2px 2px 3px black, 0 0 25px blue, 0 0 5px darkblue;
}
.topnav {
  overflow: hidden; 
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
body {
    margin: 0;
    font-family: "Bai Jamjuree";
    background-image: url("148348.png");
}
ul {
    list-style: square inside;
  }
li {
    color: navy;
}
.a {
    background-image: url("148348.png");
    background-repeat:none;
    height: 500px;
    width: 100%; 
    border: none; 
}
.b {
    max-width: 800px;
    margin: auto;
    border: 3px solid none;
  }
img {
    position: absolute;
    height: 600px;
    width: 450px;
    right: 30px;
    top: 0px;
    z-index: 1;
  }

  img.a {
    position: absolute;
    height: 300px;
    width: 450px;
    right: 30px;
    top: 150px;
    z-index: 1;
  } 

.icon-bar {
  width: 60px;
  background-color: #555;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 26px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}
hr {
  width: 50%;
}
* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 80px 0px 0px 5px;
}

.left, .right {
  width: 20%;
}

.middle {
  width: 40%;
  padding: 80px 0px 0px 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}